header{
    background-color: #f699cd;
    display: flex;
    justify-content: space-between;
    padding: 15px 4vw;
    align-items: center;
}
.logo{
    background: url("/port.png");
    height: 150px;
  width: 370px;
  background-size: 90%;
  background-repeat: no-repeat;
  margin-right: 100px;
  margin-top: 20px;
}
header nav ul li a{
    text-decoration: none;
    padding: 15px;
    border: 1px solid white;
    color: white;
    align-items: center;

}
header nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
header nav ul li a:hover{
    cursor: pointer;
    color: #d33c73;
}

