.content-main{
    padding: 70px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    font-size: 16px;
}
.barrapesquisa{
    height: 35px;
    border: 2px solid #d33c73;
    width: 35%;
    border-radius: 5px;
    font-size: 1.4rem;
    outline: 0;
    color: #d33c73;
}
.pesquisa{
    padding: 50px;
    text-align: center;
    font-size: 35px;
     color: #d33c73;
}
.barrapesquisa:focus{
    border: 2px solid  #d33c73;
}